<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% block css %}
    {% endblock css %}

    <title>

    {% block title %}

    {% endblock title %}
    
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #127023 0%, #FC8500 100%);">
        <a class="navbar-brand" href="/" style = "color:white; font: 20px Elephant, sans-serif;">PKL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style = "color:white;">Home <span class="sr-only">(current)</span></a>
                </li>

             

    {% if current_user.is_authenticated  %}
    <li class="nav-item">
        <a class="nav-link" href="/players" style = "color:white;">Players</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/teams" style = "color:white;">Teams</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/matches" style = "color:white;">Matches</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/playerstats" style = "color:white;">Player Stats</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/teamstats" style = "color:white;">Team Stats</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/trigger_teams" style = "color:white;">Team Records</a>
    </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style = "color:white;">
                Welcome {{current_user.username}}
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
{% else %}


<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "color:white;">
                Login/Signup
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/signup">Signup</a>
                        <a class="dropdown-item" href="/login">Login </a>
                   
                    </div>
                </li>



{% endif %}

            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="search" name="search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% block body %}

    {% endblock body %}






    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>



</body>

</html>