{% extends 'base.html' %}

{% block title %}
Players
{% endblock title %}

{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  {% endfor %}
  {% endif %}
  {% endwith %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Player ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Team ID</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
  {% for post in query %}
    <tr>
        <th scope="row">{{post.pid}}</th>
        <td>{{post.Name}}</td>
        <td>{{post.Age}}</td>
        <td>{{post.tid}}</td>
        <td>{{post.Type}}</td>
        <td><a href="/edit/{{post.pid}}"><button class="btn btn-primary">Edit </button> </a> </td>
        <td><a href="/delete/{{post.pid}}"><button onclick="return confirm('Are you sure to delete player');" class="btn btn-danger">Delete </button> </a> </td>
    </tr>
{% endfor %}
  
  </tbody>
</table>

<div style = "margin: auto;
  width: 10%;
  padding: 10px;">
  <button type="button" class="btn btn-success" onclick="location.href = '/add_player'">Add Player</button>
</div>


{% endblock body %}